body {
  background-color: black;
  font-family: sans-serif;
}

.chalkboard {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
}

.chalkboard h1 {
  font-size: 30px;
  text-align: center;
  font-family: cursive;
}

.chalkboard a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: cursive;
}

.chalkboard a:hover {
  color: white;
}
